* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#container {
  margin: 0 auto;
  width: 1200px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header,
main {
  text-align: center;
}

header h1,
header p,
main h3 {
  padding: 25px;
}
header p {
  font-size: 25px;
}

.gallery div {
  position: relative;
  background-clip: content-box;
  padding: 10px;
}
.overlay {
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  margin-top: -10px;
  margin-left: -10px;
  background-color: none;
  transition: background-color 0.5s ease-in;
}

#headphones {
  background-image: url(../img/headphones.jpg);
  width: 400px;
  height: 630px;
  background-repeat: no-repeat;
}
#print {
  background-image: url(../img/print.jpg);
  width: 800px;
  height: 300px;
  background-repeat: no-repeat;
}

#books {
  background-image: url(../img/books.jpg);
}
#stationery {
  background-image: url(../img/stationery.jpg);
}
#stealingbaby {
  background-image: url(../img/stealing-baby.jpg);
}
#pencil {
  background-image: url(../img/pencil.jpg);
}
#moreprint {
  background-image: url(../img/print2.jpg);
}

#books,
#stationery,
#stealingbaby,
#pencil,
#moreprint {
  width: 400px;
  height: 300px;
  background-repeat: no-repeat;
}
.gallery div div h2,
.gallery div div p {
  position: absolute;
  color: white;
  z-index: -1;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding: 10px;
  transition: z-index 0.5s ease-in, right 0.5s ease-in, left 0.5s ease-in;
}

.gallery div div h2 {
  font-size: 2em;
  bottom: 150px;
  right: -50px;
}

.gallery div div p {
  font-size: 1.5em;
  bottom: 50px;
  left: -50px;
}
.gallery div:hover .overlay {
  background-color: rgb(0, 0, 0, 0.5);
}
.gallery div:hover h2 {
  z-index: 1;
  right: 0;
}
.gallery div:hover p {
  z-index: 1;
  left: 0;
}

section {
  display: flex;
  flex-wrap: wrap;
}

.gallery section {
  width: 800px;
  margin-bottom: -30px;
}

.loader {
  border: 2px solid black;
  width: 125px;
  margin: 25px auto 200px auto;
  padding: 10px;
}
